*{
   


}
body {
    margin-left: 50px;
    margin-top: 10px;
   background-image: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
   background-attachment: fixed;
   background-size: cover;
 
   
    color: rgb(7, 7, 7);
    padding-left: 200px 100px;
    margin: 100px;
    background-position : bottom ;
  
}
h1{
    padding-left: -10px;
    padding-bottom: 20px;
    color:  rgb(10, 10, 10);
    text-decoration: underline 2px;
}
i{
    text-decoration: underline 1px;
    font-weight: bolder;
    color: rgb(75, 74, 74);
}
.box{
    width: 295px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(116, 113, 113);
    box-shadow: inset 0px 1px 4px;
}
.header{
    padding-top: 20px;
}
#btn{
background-color: rgb(110, 99, 99);
color:white;
box-shadow: inset 0px 1px 4px;
}
#cl{
    background-color: rgb(80, 80, 80);
    color:white;

    margin: 15px 0 0 0;
}
::placeholder{
    padding-left: 10px;
}
thead{
    background-color: rgb(54, 54, 54);
    color: blanchedalmond;
    border-radius: 5px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table{
    background-color: rgb(175, 198, 241);
    border-radius: 5px;
}
.radio{
    margin-right: 10px;
}
#btn:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(73, 189, 45);
}

#cl:hover{
    background-color:rgb(184, 40, 40);
}
h1:hover{
    
    font-size: 60px;
}
.box:hover{
    background-color: rgb(94, 142, 214);
}
form{
    
    
    
}